body {
    background-color: #f8f9fa;
}
.container {
    margin-top: 50px;
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-custom {
    background-color: #084905;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}
.btn-custom:hover {
    background-color: #63a259;
}
a{
    background-color: #084905;

}